<footer class="site-footer small--text-center" role="contentinfo">
    <div class="wrapper">
        <div class="shell">
            <!-- sitemap -->
            <div class="grid">
                <div class="grid__item xl--one-quarter large--hide medium--hide small--hide">
                    <h5 class="light">ABOUT US</h5>
                    <ul>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/kidspring">Kids</a></li>
                        <li><a href="/fuse">Students</a></li>
                        <li><a href="/beliefs">Our Beliefs</a></li>
                        <li><a href="/pastors">Our Pastors</a></li>
                        <li><a href="/music">Our Music</a></li>
                        <li><a href="/app">Our App</a></li>
                        <li><a href="/store">NewSpring Store</a></li>
                        <li><a href="/network">NewSpring Network</a></li>
                        <li><a href="/college">NewSpring College</a></li>
                    </ul>

                </div><div class="grid__item xl--one-quarter large--hide medium--hide small--hide">
                    <h5 class="light">NEXT STEPS</h5>
                    <ul>
                		<li><a href="/groups">Groups</a></li>
                        <li><a href="/bible">Read Your Bible</a></li>
                        <li><a href="/salvation">Salvation</a></li>
                        <li><a href="/baptism">Baptism</a></li>
                        <li><a href="/ownership">Ownership</a></li>
                        <li><a href="/serving">Serving</a></li>
                        <li><a href="/finances">Finances</a></li>
                        <li><a href="/missions">Missions</a></li>
                    </ul>
                </div><div class="grid__item xl--one-quarter large--hide medium--hide small--hide">
                    <h5 class="light">WATCH & READ</h5>
                    <ul>
                        <li><a href="/watchandread">Watch &amp; Read</a></li>
                        <li><a href="/sermons">Sermons</a></li>
                        <li><a href="/devotionals">Devotionals</a></li>
                        <li><a href="/articles">Articles</a></li>
                        <li><a href="/studies">Studies</a></li>
                        <li><a href="/stories">Stories</a></li>
                        <li><a href="/news">News</a></li>
                    </ul>
                </div><div class="grid__item xl--one-quarter large--hide medium--hide small--hide">
                    <h5 class="light">GIVING</h5>
                    <ul>
                        <li><a href="/give">Why We Give</a></li>
                        <li><a href="https://my.newspring.cc/give/now">Give Now</a></li>
                        <li><a href="https://my.newspring.cc/give/schedules">Schedule Your Giving</a></li>
                        <li><a href="https://my.newspring.cc/give/history">Giving History</a></li>
                        <li><a href="/challenge">Tithing Challenge</a></li>
                        <li><a href="/annualreport">Annual Report</a></li>
                    </ul>
                </div>
            </div> <!-- end grid -->
            <div class="grid">
                <div class="grid__item text-center">
                    <a href="#">
                        <img src="http://ns.images.s3.amazonaws.com/newspring/store/ns_icon.png"/>
                        <br/><br/>
                        <h6 class="light">RETURN TO TOP</h5>
                    </a>
                </div>
            </div>

            <hr class="light flush--bottom">

            <div class="grid">
                <div class="light grid__item large--hide xl--one-half medium-down--hide">
                    <p class="colfax"><small>
                        &copy;2016 <a href="//newspring.cc">NewSpring Church</a> &bull; <a href="//newspringnetwork.com">Free Church Resources</a> &bull; <a href="//newspring.cc/store">Store</a>
                    </p></small>
                </div>
                <div class="text-right light grid__item large--hide xl--one-half medium-down--hide">
                    <p class="colfax"><small>
                        <a href="https://newspring.cc/privacy">Privacy Policy</a>
                        &bull; <a href="https://newspring.cc/terms">Terms of Use </a>
                        &bull; <a href="https://newspring.cc/reprinting-and-reposting">Reprinting and Reposting Terms</a>
                    </p></small>
                </div>
                <div class="text-center light grid__item xl--hide">
                    <p class="colfax"><small>
                        &copy;2016 <a href="//newspring.cc">NewSpring Church</a> &bull; <a href="//newspringnetwork.com">Free Church Resources</a> &bull; <a href="//newspring.cc/store">Store</a>
                        <br />
                        <a href="https://newspring.cc/privacy">Privacy Policy</a>
                        &bull; <a href="https://newspring.cc/terms">Terms of Use </a>
                        &bull; <a href="https://newspring.cc/reprinting-and-reposting">Reprinting and Reposting Terms</a>
                    </p></small>
                </div>
            </div>
        </div>
    </div>
</footer>



<!--


        OLD FOOTER


-->

<!--
<footer class="site-footer small--text-center" role="contentinfo">
  <div class="wrapper">
    <div class="grid">
      {% if settings.footer_social_enable %}
        <div class="grid__item large--one-third medium--one-half">
          <h3 class="light">{{ 'layout.footer.social_title' | t }}</h3>
            <ul class="inline-list social-icons">
              {% if settings.social_twitter_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                    <span class="icon icon-twitter" aria-hidden="true"></span>
                    <span class="fallback-text">Twitter</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_facebook_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                    <span class="icon icon-facebook" aria-hidden="true"></span>
                    <span class="fallback-text">Facebook</span>
                  </a>
                </li>
              {% endif %}
            </ul>
        </div>
      {% endif %}
      {% if settings.footer_newsletter_enable %}
        <div class="grid__item large--one-third push--large--one-third medium--one-half">
          {% comment %}
            MailChimp is the go-to newsletter service for Shopify.
            Use the link below to find your MailChimp form action
            and insert it in your site settings.

            If the form action URL is not set in the theme settings,
            it will fallback to a customer form so you can still capture the email.

            MailChimp newsletter integration and requirement:
             - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
          {% endcomment %}
          <h3 class="light">{{ 'layout.footer.newsletter_title' | t }}</h3>
          {% if settings.newsletter_form_action != blank %}
            <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
              <span class="input-group-btn">
                <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
              </span>
            </form>
          {% else %}
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
              {% else %}
                <div class="input-group">
                  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <span class="input-group-btn">
                    <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                  </span>
                </div>
              {% endif %}
            {% endform %}
          {% endif %}

        </div>
      {% endif %}

      {% comment %}
          Accepted Payments
      {% endcomment %}
      <div class="grid__item text-center">
        <hr>
        {% comment %}
          Loop through available payment methods and show their icons.
        {% endcomment %}
        {% unless shop.enabled_payment_types == empty %}
          {% assign payment_icons_available = 'amazon_payments,american_express,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,stripe,visa' | split: ',' %}
          <h4 class="text-center light">{{ 'layout.footer.accepted_payments' | t }}</h4>
          <ul class="inline-list payment-icons">
            {% for type in shop.enabled_payment_types %}
              {% if payment_icons_available contains type %}
                <li>
                  <span class="icon-fallback-text">
                    <span class="icon icon-{{type}}" aria-hidden="true"></span>
                    <span class="fallback-text">{{ type | replace: '_',' '}}</span>
                  </span>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endunless %}
      </div>
    </div>
  </div>
</footer>
-->
<!-- //site-footer -->
