<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% comment %}
    Quick Links

<div class="text-center">
{% for collection in collections %}
    {% if collection.products | size > 0 %}
        {% unless collection.handle == 'frontpage' or collection.handle == 'on-sale' %}
            {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
            <a class="ns-btn rect push-quarter--bottom push-quarter--right" href="#{{ collection.handle }}">{{ collection_title }}</a>
        {% endunless %}
    {% endif %}
{% endfor %}
</div>
<hr class="push-quarter--top">
{% endcomment %}

{% comment %}
    Quick Links
{% endcomment %}
<div class="text-center">
    <h3 class="tall">Looking for
        {% for collection in collections %}
            {% if collection.products | size > 0 %}
                {% unless collection.handle == 'frontpage' or collection.handle == 'on-sale' %}
                    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
                    {% if forloop.last %}
                        {% if collections.on-sale.products | size > 0 %}
                            <!-- need to display a sale section link. not actually last item -->
                            <a class="link" href="#{{ collection.handle }}">{{ collection_title }}</a>,
                        {% else %}
                            <!-- actual last item of list. Add or before. no comma after --> 
                            or <a class="link" href="#{{ collection.handle }}">{{ collection_title }}</a>
                        {% endif %}
                    {% else %}
                        <a class="link" href="#{{ collection.handle }}">{{ collection_title }}</a>,
                    {% endif %}{% endunless %}{% endif %}{% endfor %}
        {% if collections.on-sale.products | size > 0 %}or <a class="link" href="#on-sale">Sales</a>{% endif %}?
    </h3>
</div>

<hr class="push-quarter--top">


<!-- HOLIDAY COUNTER in index.liquid -->

<div class="text-center soft-half--top">
	<h3>Get It Home For The Holidays!</h3>
	<p class="flush">Order by midnight on December 12th to guarantee delivery by December 24th.</p>
	[powr-countdown-timer id=03c04341_1475695891]
</div>

<hr class="flush--top">

<!-- / HOLIDAY COUNTER -->


{% comment %}
    Show all of the products in the store, below collection headings
    separate by hr's
{% endcomment %}
{% for collection in collections %}
    {% unless collection.handle == 'frontpage' or collection.handle == 'on-sale' %}
        {% comment %}
            Use capture to put the collection title in a variable that is used in liquid filters
        {% endcomment %}
        {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
        <h3 class="text-left push-half--top" id="{{ collection.handle }}">{{ collection_title }}</h3>
        <div class="grid-uniform text-center">
            {% comment %}
                Loop through products in your Frontpage collection.
                This collection is created by default, but you must add products to it.
            {% endcomment %}
            {% for product in collection.products %}
                {% comment %}
                    Change the grid item width by using classes from the grid in
                    the grid_item_width variable.

                    Example:
                    - {% assign grid_item_width = 'large--one-third medium--one-half' %}
                {% endcomment %}
                {% assign grid_item_width = 'xxl--one-quarter xl--one-quarter large--one-quarter medium--one-half' %}
                {% include 'product-grid-item' %}
            {% endfor %}
        </div>
        <hr class="flush--ends"/>
    {% endunless %}
{% endfor %}

{% comment %}
    Show all of the on sale items (from the on-sale collection)
{% endcomment %}
{% if collections.on-sale.products | size > 0 %}
    {% capture collection_title %}{{ collections.on-sale.title | escape }}{% endcapture %}
    {% capture collection_handle %}{{ collections.on-sale.handle | escape }}{% endcapture %}
    <h3 class="text-left push-half--top" id="{{ collection_handle }}">{{ collection_title }}</h3>
    <div class="grid-uniform text-center">
        {% assign isEmpty = false %}

        {% comment %}
            Loop through products in your Frontpage collection.
            This collection is created by default, but you must add products to it.
        {% endcomment %}
        {% for product in collections.on-sale.products %}
            {% comment %}
                Change the grid item width by using classes from the grid in
                the grid_item_width variable.

                Example:
                - {% assign grid_item_width = 'large--one-third medium--one-half' %}
            {% endcomment %}
            {% assign grid_item_width = 'xxl--one-quarter xl--one-quarter large--one-quarter medium--one-half' %}
            {% include 'product-grid-item' %}
        {% endfor %}
    </div>
    <hr class="flush--ends"/>
{% endif %}