{% layout none %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern" lang="en"> <!--<![endif]-->
  <head>
      <!-- Basic page needs ================================================== -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

      {% if settings.favicon_enable %}
          <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
      {% endif %}

      <!-- Title and description ================================================== -->
      <title>
          NewSpring Store
      </title>

      {% if page_description %}
          <meta name="description" content="{{ page_description | escape }}">
      {% endif %}

      <!-- Helpers ================================================== -->
      {% include 'social-meta-tags' %}
      <link rel="canonical" href="{{ canonical_url }}">
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
      <meta name="theme-color" content="{{ settings.color_primary }}">

      <!-- CSS ================================================== -->
      {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
      {{ 'newspring_store.scss.css' | asset_url | stylesheet_tag }}

      <!-- Header hook for plugins ================================================== -->
      {{ content_for_header }}
      {% include 'oldIE-js' %}

      {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
      {{ 'modernizr.min.js' | asset_url | script_tag }}

      {% comment %}
          If you store has customer accounts disabled, you can remove the following JS file
      {% endcomment %}
      {% if template contains 'customers' %}
          {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {% endif %}

      <!-- Fonts ================================================== -->
      <script src="https://use.typekit.net/qvq4xjh.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>
      <script src="https://use.fontawesome.com/b94c69ded3.js"></script>

      <style>
      html {
          background-color: white;
      }
      </style>
  </head>

<body>
    <div class="shadow-wrapper">
        <div class="text-center push--xxl--one-quarter xxl--one-half push--xl--one-quarter xl--one-half push--large--one-quarter large--one-half push--top soft-half--top soft-quarter--bottom">
            <header class="" role="banner">
                <div class="">
                  {% comment %}
                    Site name or logo
                  {% endcomment %}
                  <div class="">
                    {% if settings.logo_use_image %}
                      <img class="logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                    {% else %}
                      <h1 class="h2">
                        <span>{{ shop.name }}</span>
                      </h1>
                    {% endif %}
                  </div>
                </div><!-- end header inner -->
            </header>

            {% comment %}
            Opening soon text
            {% endcomment %}
            <h2 class="push-half--top">{{ 'general.password_page.opening_soon' | t }}</h2>

            <div id="Login" class="">
            <p class="h4 push-half--top push-half--bottom">{{ 'general.password_page.login_form_heading' | t }}</p>
            {% form 'storefront_password' %}
                {{ form.errors | default_errors }}
                <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
                <div class="input-group">
                    <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
                    <span class="input-group-btn">
                    <input type="submit" class="btn" value="{{ 'general.password_page.login_form_submit' | t }}">
                    </span>
                </div>
            {% endform %}
            <p class="push-half--top">{{ 'general.password_page.admin_link_html' | t }}</p>
            </div>
        </div><!-- end wrapper -->
    </div><!-- end shadow wrapper -->

</body>
</html>
